<div class="row">
  <div class="small-8 small-centered columns">
    <div class="row">
      <div class="small-12 columns account-activated-text">
        <h1>Congrats! You are ready to go!</h1>
        <h3>We will text you shortly!<br><span>Add us to your contacts for easy use in the future.</span></h3>
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'shared/three_steps' %>
