<div class="row">
  <div class="small-8 small-centered columns">
    <div class="row">
      <div class="small-12 columns account-activated-text">
        <h1>Congrats!<br>You are ready to start printing</h1>
        <h3>You should receive a text shortly!<br>Be sure to save us in your contacts for easy use.</h3>
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'shared/three_steps' %>
