<%= render :partial => 'shared/admin_sub_nav' %>
<div class="row percent-padded">
  <div class="small-12 large-uncentered columns">
    <p class="form-header-text">Order <%= @order.id %>:</p>
  </div>
</div>