<div class="row percent-padded">
  <div class="small-12 large-uncentered columns">
    <div class="row">
      <div class="large-7 large-uncentered columns">
        <p class="form-header-text">Update Password</p>
        <%= form_for @user, :url => user_update_password_path(@user) do |f| %>
          <%= f.password_field 'password', :placeholder => 'New Password' %>
          <div class="button-border"><%= f.submit 'Update Password' %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>