<div class="row percent-padded">
  <div class="small-12 large-uncentered columns">
    <div class="row">
      <div class="large-7 large-uncentered columns">
        <p class="form-header-text">Reset Password</p>
        <%= form_for @user, :url => reset_password_path do |f| %>
          <%= f.text_field 'email', :placeholder => 'Email' %>
          <div class="button-border"><%= f.submit 'Reset Password' %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>