<div class="row">
  <div class="small-10 small-centered columns three-step-uni">
    <div class="row">
      <div class="large-3 columns steps-shell">
        <%= image_tag "#{aws_web_image_path}/pigeon_steps_1_large.png" %>
        <p>Take a picture with your phone as you normally would</p>
      </div>
      <div class="large-6 columns steps-shell">
        <%= image_tag "#{aws_web_image_path}/pigeon_steps_2_large.png" %>
        <p>
          Text the photo to 343434 
          with three things:<br/>
          fly + contact name + message<br/>
          Example: <i>fly grandma "We wish you where here”</i>
      </div>
      <div class="large-3 columns steps-shell">
        <%= image_tag "#{aws_web_image_path}/pigeon_steps_3_large.png" %>
        <p>They will receive your print in the mail in a few days</p>
      </div>
    </div>
  </div>
</div>