<div class="row">
  <div class="small-12 columns contact-us-shell">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="row contact-us-shell">
  <div class="small-8 small-centered columns">
    <div class="large-6 columns">
      <%= image_tag("#{aws_web_image_path}/jordan_dan.jpg", :class => 'picss') %>
    </div>
    <div class="large-6 columns">
      <div class="contact-us-content">
        <p><b>Jordan</b><br><i>(pink tie)</i><br>nemrowj@gmail.com</p>
        <p><b>Dan</b><br><i>(golfer)</i><br>dan.polaske@gmail.com</p>
      </div>
    </div>
  </div>
</div>

