$dark_pink: #b33864;
$light_pink: #e8c3d0;
$dark_green: #187b4d;
$grey-pink: #937b84;
$font-1: 'Comfortaa', cursive;
$font-2: 'Cabin', sans-serif;
$font-3: 'PT Sans', sans-serif; 
//////////////////////////////////////////////// Mixins

////////////////////////////////////////////////// Foundation overrides
.main_row_container{
  // width: 1030px;
}
.top-bar{
  margin-bottom: 0px;
}
.top-bar-section ul li > a{
  padding-top: 4px;
  padding-bottom: 4px;
}
.top-bar .name{
  margin: 15px 0 0 20px;
}

.top-bar-section .right li a{
  color: #000;
  text-shadow: none;
}

.top-bar-section-homepage .right li a{
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
////////////////////////////////////////////////// Shared

h1{
  font-family: $font-1;
}

h2, h3{
  font-family: $font-2;
}

p, input[type='text'], input[type='submit'], textarea{
  font-family: $font-3;
}


// placeholder styles
::-webkit-input-placeholder { color:$grey-pink; }
::-moz-placeholder { color:$grey-pink; }
:-ms-input-placeholder { color:$grey-pink; }
input:-moz-placeholder { color:$grey-pink; }

.padded-container{
  margin: 0 10px 0 10px;
}
.blurred_lines_bg{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.row{
  position: relative;
}
input[type="text"], input[type="password"]{
  background-color: $light_pink;
  border: 1px solid $dark_pink;
  outline: none;
}
input[type="text"], input[type="password"]:focus{
  border: 3px solid $dark_pink;
  background-color: $light_pink;
}
.button-border{
  background-color: $dark_pink;
  padding: 1px;
  float: left;
}
input[type="submit"]{
  background: #c7567e; /* Old browsers */
  background: -moz-linear-gradient(top,  #c7567e 0%, #b43965 77%, #b43965 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7567e), color-stop(77%,#b43965), color-stop(100%,#b43965)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c7567e 0%,#b43965 77%,#b43965 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c7567e 0%,#b43965 77%,#b43965 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c7567e 0%,#b43965 77%,#b43965 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #c7567e 0%,#b43965 77%,#b43965 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7567e', endColorstr='#b43965',GradientType=0 ); /* IE6-9 */
  padding: 8px 12px;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  margin: 0px;
}
input[type="submit"]:hover{
  cursor: pointer;
  background: $dark_pink;
}
/////////////////////////////////////////////////// Header
.header-logo-mobile-opt{
  width: 130px;
  margin-top: 27px;
}
//////////////////////////////////////////////////// Homepage
.family_beach_run_img{
  position: absolute;
  min-width: 1030px;
  z-index: -1;
  left: 0px;
  top: 0px;
}
.home-tagline-container{
  max-width: 500px;
  padding: 0 15px;
}
.home-page-top-block{
  min-width: 1030px;
  position: relative;
  height: 430px;
}
.placeholder-1{
  width: 100%;
  height: 100px;
}
.tagline{
  color: $dark_pink;
  text-shadow: 1px 1px 2px #fff;
  font-size: 25px;
  text-align: center;
  padding: 0 15px;
  text-align: left;
  margin: 10px 0 20px 0;
}
.sub-tagline{
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-size: 16px;
  margin: 0px;
  padding: 0 15px;
  text-align: left;
}
.home-small-steps-outer-container{
  position: absolute;
  width: 100%;
  height: 0px;
  top: 0px;
  left: 0px;
}
.home-small-steps-inner-container{
  position: relative;
  max-width: 500px;
  top: 390px;
  text-align: center;
}
.three_steps_small{
  position: relative;
  width: 288px;
  margin: 0 auto;
}
.home-page-block-2{
  position: absolute;
  top: 585px;
  width: 100%;
}
.picture-description-shell{
  width: 90%;
  margin-left: 5%;
  height: 200px;
  border: 1px solid $dark_green;
  text-align: center;
  margin-bottom: 20px;
    p{
      margin: 0px;
      padding: 0px;
    }
    p:nth-child(1){
      color: $dark_pink;
      font-size: 55px;
      font-family: $font-1;
      line-height: 45px;
      margin-top: 40px
    }
    p:nth-child(2){
      font-size: 30px;
      color: $dark_green;
      font-family: $font-1;
    }
    p:nth-child(3){
      font-size: 20px;
      color: #000;
    }
}
.home-page-new-user-signup{
  width: 90%;
  margin-left: 5%;
  padding-bottom: 40px;
}

/////////////////////////////////////////////////////// Profile

.recent_order_shells{
  img{
    width: 100%;
  }
  p{
    text-align: center;
  }
}
.profile-squares{
}
//////////////////////////////////////////////////////// Activate Success Page
.steps-shell{
  text-align: center;
  img{
    padding-bottom: 20px;
  }
  img.steps_arrow{
    padding: 45px 0;
  }
  p{
    font-size: 12px;
    span{
      font-weight: bold;
      color: $dark_green;
      font-size: 14px;
    }
  }
}
.account-activated-text{
  text-align: center;
  margin-bottom: 40px;
  h1{
    font-size: 25px;
    color: $dark_pink;
  }
  h3{
    font-size: 16px;
    color: $dark_green;
  }
}

//////////////////////////////////////////////////////// Flash Messages
.notice_message{
  color: red;
  text-align: center;
}
.error_message{
  color: green;
  text-align: center;
}