$dark_pink: #b33864;
$light_pink: #e8c3d0;
$dark_green: #187b4d;
$grey-pink: #937b84;
$font-1: 'Comfortaa', cursive;
$font-2: 'Cabin', sans-serif;
$font-3: 'PT Sans', sans-serif;
$light_grey_1: #a3a3a3;
$light_grey_2: #e1e1e1;
//////////////////////////////////////////////// Mixins

////////////////////////////////////////////////// Foundation overrides
.main_row_container{
  // width: 800px;
}
.top-bar{
  margin-bottom: 0px;
}
.top-bar-section ul li > a{
  padding-top: 4px;
  padding-bottom: 4px;
}
.top-bar .name{
  margin: 15px 0 0 20px;
}

.top-bar-section .right li a{
  color: #000;
  text-shadow: none;
  text-align: left;
}

.top-bar-section-homepage .right li a{
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  padding: 0 7px;
}
////////////////////////////////////////////////// Shared

h1{
  font-family: $font-1;
}

h2, h3{
  font-family: $font-2;
}

p, input[type='text'], input[type='submit'], textarea{
  font-family: $font-3;
}


// placeholder styles
::-webkit-input-placeholder { color:$grey-pink; }
::-moz-placeholder { color:$grey-pink; }
:-ms-input-placeholder { color:$grey-pink; }
input:-moz-placeholder { color:$grey-pink; }

.padded-container{
  margin: 0 10px 0 10px;
}
.blurred_lines_bg{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.row{
  position: relative;
  max-width: 800px;
}
input[type="text"], input[type="password"]{
  background-color: $light_pink;
  border: 1px solid $dark_pink;
  outline: none;
}
input[type="text"]:focus, input[type="password"]:focus{
  border: 3px solid $dark_pink;
  background-color: $light_pink;
}
.button-border{
  background-color: $dark_pink;
  padding: 2px;
  float: left;
}
input[type="submit"]{
  background: #c7567e; /* Old browsers */
  background: -moz-linear-gradient(top,  #c7567e 0%, #b43965 77%, #b43965 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7567e), color-stop(77%,#b43965), color-stop(100%,#b43965)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c7567e 0%,#b43965 77%,#b43965 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c7567e 0%,#b43965 77%,#b43965 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c7567e 0%,#b43965 77%,#b43965 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #c7567e 0%,#b43965 77%,#b43965 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7567e', endColorstr='#b43965',GradientType=0 ); /* IE6-9 */
  padding: 8px 12px;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  margin: 0px;
}
input[type="submit"]:hover{
  cursor: pointer;
  background: $dark_pink;
}
/////////////////////////////////////////////////// Header
.header-logo-mobile-opt{
  width: 130px;
  margin-top: 14px;
}
//////////////////////////////////////////////////// Homepage
.family_beach_run_img{
  position: absolute;
  min-width: 800px;
  z-index: -1;
  left: 0px;
  top: 0px;
}
.home-tagline-container{
  max-width: 390px;
  padding: 0 15px 0 20px;
}
.home-page-top-block{
  min-width: 800px;
  position: relative;
  height: 430px;
}
.placeholder-1{
  width: 100%;
  height: 100px;
}
.tagline{
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-size: 25px;
  text-align: center;
  padding: 0 15px;
  text-align: left;
  margin: 48px 0 17px 0;
}
.tagline-mobile-opt{
  margin: 67px 0 17px 0;
}
.sub-tagline{
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-size: 16px;
  margin: 0px;
  padding: 0 15px;
  text-align: left;
}
.home-small-steps-outer-container{
  position: absolute;
  width: 100%;
  height: 0px;
  top: 0px;
  left: 0px;
}
.home-small-steps-inner-container{
  position: relative;
  max-width: 500px;
  top: 390px;
  text-align: center;
}
.three_steps_small{
  position: relative;
  width: 288px;
  margin: 0 auto;
}
.home-page-block-2{
  position: absolute;
  top: 350px;
  width: 100%;
}
.picture-description-shell{
  padding: 0 4% 20px 4%;
  div.desc-left{
    width: 165px;
    position: relative;
    margin: 0 auto;
    p{
      position: absolute;
    }
    p:nth-child(1){
      font-size: 37px;
      color: $dark_pink;
      top: 0px;
      left: 0px;
    }
    p:nth-child(2){
      font-size: 18px;
      color: $dark_green;
      right: 1px;
      top: 7px;
    }
    p:nth-child(3){
      font-size: 11px;
      color: #999;
      font-style: italic;
      right: 0px;
      top: 29px;
    }
  }
  p.desc-right{
    text-align: center;
    font-size: 16px;
    position: relative;
    top: 15px;
  }
}
.picture-desc-separator{
  position: absolute;
  width: 1px;
  height: 33px;
  background-color: #b33864;
  left: 52%;
  top: 11px;
}
.home-page-new-user-signup{
  width: 90%;
  margin-left: 5%;
  padding-bottom: 15px;
  input[type='text'], input[type='password']{
    height: 30px;
  }
  h4{
    font-size: 16px;
    color: $dark_pink;
    font-weight: normal;
    margin: 0 0 20px 0;
  }
}

/////////////////////////////////////////////////////// Profile
p.profile-cat-title{
  font-family: $font-2;
  font-size: 16px;
  color: $light_grey_1;
  span.add-new-address{
    float: right;
    margin-right: 20px;
    a{
      font-weight: bold;
      color: $dark_green;
    }
    a:visited{
      font-weight: bold;
      color: $dark_green;
    }
  }
}
.header_padding{
  height: 30px;
}
.recent_order_shells{
  img{
    width: 100%;
  }
  p.general-address{
    font-size: 12px;
    line-height: 13px;
    margin: 0px;
  }
}
p.general-address{
  font-size: 12px;
  line-height: 13px;
  margin: 0px;
}
div.general-profile-box{
  font-size: 12px;
  line-height: 13px;
  margin: 0px;
}
p.edit-general-fields{
  margin: 5px 0 0 0;
  a, a:visited{
    font-size: 12px;
    color: $dark_green;
  }
}
a.edit-general-fields, a.edit-general-fields:visited{
  font-size: 12px;
  color: $dark_green;
}
.no-orders-yet-text{
  color: $dark_pink;
  font-size: 12px;
}
.profile-squares{
}
.percent-padded{
  width: 96% !important;
  margin-left: 2% !important;
}
.input-with-helper-shell{
  background-color: $light_grey_2;
  margin-bottom: 14px;
  p{
    margin: 10px;
    color: $dark_pink;
    font-size: 12px;
    padding-bottom: 10px;
  }
  input[type='text']{
    margin-bottom: 5px;
  }
  input[type='checkbox']{
    float:  left;
    margin: 10px 10px 0 10px;
  }
  label{
    display: inline-block;
    margin: 10px 0 0 0;
  }
}
p.form-header-text{
  font-size: 16px;
  color: $dark_green;
  margin: 15px 0;
  font-weight: bold;
}
p.shipping-restriction-text{
  float: right;
  margin: 9px 0 0 0;
  font-size: 12px;
  color: $dark_pink;
}
p.date-of-order{
  font-size: 14px;
  margin-bottom: 5px;
}
//////////////////////////////////////////////////////// Activate Success Page
.steps-shell{
  text-align: center;
  img{
    padding-bottom: 20px;
  }
  img.steps_arrow{
    padding: 45px 0;
  }
  p{
    font-size: 12px;
    span{
      font-weight: bold;
      color: $dark_green;
      font-size: 14px;
    }
  }
}
.account-activated-text{
  text-align: center;
  margin-bottom: 40px;
  h1{
    font-size: 25px;
    color: $dark_pink;
  }
  h3{
    font-size: 16px;
    color: $dark_green;
  }
}
//////////////////////////////////////////////////////// Footer
.home-footer{
  // position: absolute !important;
  // top: 400px !important;
}
.footer{
  hr{
    height: 1px;
    background-color: $dark_pink;
    border: none;
    margin-bottom: 0px;
  }
  ul{
    text-align: center;
    list-style: none;
    li{
      display: inline;
      margin:0 10px;
      font-size: 12px;
      color: $dark_green;
      a{
        color: $dark_green;
      }
      a:visited{
        color: $dark_green;
      }
    }
  }
}
//////////////////////////////////////////////////////// Contact Us
.contact-us-shell{
  text-align: center;
  img{
    width: 200px;
  }
  h1{
    padding-bottom: 20px;
  }
}
.contact-us-content{
  margin-top: 50px;
  b{
    font-size: 20px;
    color: $dark_green;
  }
  i{
    font-size: 14px;
  }
}
//////////////////////////////////////////////////////// Flash Messages
.error-div{
  background-color: red;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  margin-top: 20px;
  p{
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
  }
  h4{
    color: #fff;
  }
  ul{
    list-style:  none;
    li{
      font-size: 10px;
    }
  }
}
.notice_message{
  color: red;
  text-align: center;
}
.error_message{
  color: green;
  text-align: center;
  margin-top: 10px;
}