<h4>Hey <%= user.name %>,</h4>
<p>Thanks again for being one of the first people to check out Pigeon.</p>
<p>You can now add a personal message to your Pigeon Pics!</p>
<p>Check it out:</p>

<%= image_tag "#{aws_web_image_path}/ex-pic-holidays.jpg", :style => "width:420px" %>

<p>Simply text: The photo followed by  fly + recipient name + “Personal Message”.</p>
<p>Example:  Photo + fly mom “Home for the holidays!”</p>

<p>With our new messaging feature all Pigeon Pics will now cost $2. (This includes Pigeon Pics sent with no message as well) The bump in price is unfortunately necessary to keep the service going. We hope you understand : )</p>

<p>Happy messaging,</p>

<p>Dan<p>

<p>PS: The first 5 people to send a photo with a personal message will recieve 2 free Pigeon Pics!</p>