<div class="footer row">
  <div class="small-12 columns <%= "home-footer" if current_page?(root_path) %>">
    <hr>
    <ul>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </div>
</div>