<% if @error || @notice %>
  <div class="row">
    <% if @error %>
      <div class="large-6 large-centered columns error-div">
        <div class="row">
          <div class="large-12 columns">
            <%=raw @error %>
          </div>
        </div>
      </div>
    <% end %>
    <% if @notice %>
      <div class="large-6 large-centered columns">
        <p class="error_message"><%= @notice %></p>
      </div>
    <% end %>
  </div>
<% end %>